html {
    background-color:#333;
    color:#fff;
}
body {
	padding:10px;
    background:url("../images/bodyBg.png") repeat-x top left;
}

h1, h2 {margin:0; padding:10px 0;}
h1 {font:normal 2em Arial, Helvetica, sans-serif}
h2 {font:normal 1.5em Arial, Helvetica, sans-serif;}
h3 {}


a {
    color:#00aeef; 
    text-decoration:none;
}

h1 {
    margin:-10px;
    padding:30px 0 40px 10px;
    background:url("../images/logoCorner.png") no-repeat top right;
}

.siteLink {
    font-size: 0.5em;
    position: absolute;
    right: 55px;
    top: 55px;
}
.fl-infusionBuilder .fl-infusionBuilder-group {
    font-size: 1.1em;
}
.fl-infusionBuilder h3 {
    border-bottom:1px solid #555;
}
.fl-infusionBuilder ol li {
    margin:3px 0 0px 10px;
}
.fl-infusionBuilder ol li label {
    font-weight:normal;
    color:#ccc;
}
.fl-infusionBuilder ol li:hover label {
    color:#000;
    font-weight:bold;
}
.fl-infusionBuilder ol li:hover .fl-infusionBuilder-description {
    color:#000;
}
.fl-infusionBuilder :focus {
    outline:0px;
}
.fl-infusionBuilder input:focus, .fl-infusionBuilder button:focus {
    outline:2px solid #fd7; 
}
.fl-infusionBuilder :focus ~ label {
    color:#fd7;
}

.fl-infusionBuilder ol li.fl-infusionBuilder-selected {
    border-left: 10px solid #00aeef; 
    margin-left: 0;
}
.fl-infusionBuilder .fl-infusionBuilder-selected label {
    color:#00aeef;
}

.fl-infusionBuilder-group {
    padding-top:10px;
    width:22%;
}

.fl-infusionBuilder-downloadOptions {
    padding:10px;
    background:#000;
    -webkit-border-radius:10px;    
    -moz-border-radius:10px;
}

.fl-infusionBuilder .fl-infusionBuilder-button[disabled] {
    background-color: #171717;
    color: #3c3c3e;
    border-color: #3c3c3e;
} 

.fl-infusionBuilder-instructions {
    margin:10px 0;
    padding:10px;
    color:#444;
    background-color:#f0f0f0;
}