.fl-infusionBuilder {
    background: transparent url(../images/spinner.gif) no-repeat -2000px -2000px;
}
.fl-infusionBuilder ol {
    margin:0;
    padding:0;
}
.fl-infusionBuilder h3 {
    margin:0;
    padding:5px;
    margin-bottom:5px;
    border-bottom:2px solid #ccc;
}
.fl-infusionBuilder ol li {
    list-style-type:none;
    display:block;
    zoom:1;
    padding:2px;
}
.fl-infusionBuilder ol li:hover {
    background-color:#fd7;
}

.fl-infusionBuilder ol li input {
    float:left;
    margin:5px;
}
.fl-infusionBuilder ol li label {
    cursor:pointer;
    display:block;
    margin-left:24px;
    padding:3px 5px 5px;
    font-weight:bold;
}

.fl-infusionBuilder-group {
	width:33%;
	float:left;
}
.fl-infusionBuilder .fl-infusionBuilder-description {
    color: #808080;
    font-weight: normal;
    padding:0;
    font-size:.85em;
}
.fl-infusionBuilder .fl-col ol li div {
    font-size:0.85em;
    font-weight:normal;
    line-height:normal;
    margin-left:30px;
}
.fl-infusionBuilder .fl-infusionBuilder-selected {
    /*background-color: #b3e5ff;
    color:#000;*/
}
.fl-infusionBuilder .fl-infusionBuilder-selected .fl-infusionBuilder-description {
    /*color:#000;*/
}

.fl-infusionBuilder-download {
	display: none;
}
.fl-infusionBuilder-download h2 {
    background: transparent url(../images/spinner.gif) no-repeat left center;
    padding-left:45px;
}
.fl-infusionBuilder .fl-infusionBuilder-compressionControls {
    padding:10px;
}

.fl-infusionBuilder .fl-infusionBuilder-button {
	background-color: #585858;
	color: #ffffff;
	width: 93%;
	display:block;
	text-align:center;
    padding:3px 0;
    margin: 10px auto 0px auto;
    border: 1px solid white;
    font-weight:bold;

}

.fl-infusionBuilder-downloadOptions {	
	width:200px;
	float:right;
}
.fl-infusionBuilder-serverError {   
    width:200px;
    float:right;
    font-size: 1.1em;
    font-weight: bold;
    color: #FF0000;
    margin: 1em 0 1em 0;
    background-color: #FFFFFF;
}
/*******************************************************/
.fl-theme-mist .fl-infusionBuilder .fl-infusionBuilder-selected {
    background-color: #cce4ff;
    color:#000;
}
.fl-infusionBuilder-spinner {
    float: left;
    clear: both;
    margin-top: -1.7em;
    margin-left: 1em;
}
.fl-infusionBuilder-spinner-img {
    width: 19px;
    height: 19px;
}
.fl-infusionBuilder-download-frame {
    display: none;
    width: 0px;
    height: 0px;
}
